@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

$color_main: #e1e8f8;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $color_main;
    font-family: 'Rubik', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $color_main;
}

button {
    border: none;
}