@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

$color_main: #e1e8f8;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: $color_main;
    color: $color_main;
    font-family: 'Rubik', sans-serif;
}