.rowKeys {
    position: relative;
    margin-top: .2rem;

    button {
        background-color: #212624;
        width: 25%;
        height: 4rem;
        font-weight: 400;
        font-size: 105%;
        border-radius: 10px;
        transition: 10ms;
        user-select: none;

        &:hover {
            transition: 500ms;
            background-color: #262c29;
        }

        &:focus {
            animation: click 200ms ease-in-out;
        }
    }

    .operations {
        font-size: 150%;
    }
}

.equal {
    color: #feb800;
}

@keyframes click {
    0%, 100% {
        transform: scale(1);
        background-color: #212624;
    }
    50% {
        transform: scale(0.98);
        background-color: #444b49;
    }
}