.rowKeys {
    position: relative;
    margin-top: .2rem;

    button {
        background-color: #212624;
        width: 25%;
        height: 4rem;
        font-weight: 400;
        font-size: 105%;
        border-radius: 10px;
        transition: 10ms;
        user-select: none;

        &:hover {
            transition: 500ms;
            background-color: #262c29;
        }

        &:focus {
            transition: 800ms;
            background-color: #7a7a7a;
        }
    }

    .operations {
        font-size: 150%;
    }

    .disabled:hover {
        background-color: #212624;
    }
}

.equal {
    color: #feb800;
}